*{
    margin: 0px;
    padding: 5px;
}

body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: white;
    display: flex;
    flex-direction:column ;
    width: 750px;
    height: 450px;
    align-self: center;
    border-radius: 25px;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container>.row{
    width: 100%;
    justify-content: space-evenly;
}

.pic{
    border-radius: 50%;
    border: 2px solid rgb(194, 102, 60);
}

.name{
    font-size: large;
    font-weight: bold;
}

.score{
    font-size: xx-large;
    font-weight: bold;
}

.runs{
    font-size: xx-large;
    width: 200px;
    justify-content: space-evenly;
}

#strike{
    background-color: rgb(109, 18, 98);
    width: 100px;
    height: 50px;
    font-size: medium;
    color: white;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}